<div {{bind-attr class=":sticky-wrapper isOpen::hidden"}}>

  <div class="sticky-pane">

    <button class="sticky-close" {{action 'toggleOpen'}}>
      ×
    </button>

    {{yield}}

  </div>

</div>

<div class="sticky-button-wrapper {{if isOpen 'hidden'}}">
  <div class="sticky-button" {{action 'toggleOpen'}}>
  </div>
</div>